main.projects {
	min-height: calc(100vh - 5rem);

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.projects-nav {
		@include span-columns(4);
		width: 40rem;
		height: calc(100vh - 5rem);
		overflow: auto;
		margin-right: 0;

		border-right: 1px solid white;

		ul {

			li {
				height: 10rem;
				border-bottom: 1px solid white;
				@include overlay(rgba(0,0,0,0.65));
				position: relative; 
				overflow: hidden;
				cursor: pointer;
				outline:none;

				img {
					position: absolute;
					left: 0;right: 0;
					top: 0;bottom: 0;
					margin: auto;
					z-index: 1;
					@include transition(all 5s $ease-out-sine);
				}

				h3 {
					line-height: 10rem;
					padding-left: 2rem;
					margin: 0;

					position: relative;
					z-index: 9;
				}
				
				&:before {@include transition(all 1.5s $ease-out-sine);}
				&:hover {
					@include overlay(rgba(0,0,0,0.35));
					&:before {@include transition(all 1s $ease-in-sine);}
					img {
						@include transform(scale(1.2));
					}
				}

				&.active {
					@include overlay(rgba(255,99,71,0.5));
					img {
						@include transform(scale(2));
						opacity: .2;
					}
				}
			}
		}
	}	
	.projects-gallery {
		@include span-columns(8);
		height: calc(100vh - 5rem);
		width: calc(100vw - 40rem);
		overflow: hidden;

		a.arrow {
			text-indent: -9999px;
			position: absolute;
			top: 50%;
			@include size(6rem);
			margin-top: -3rem;
			border-radius: 100%;
			z-index: 999;
			background:white;
			@include levitable(2, 3);

			background: white url(../images/caret-right.svg) no-repeat 55% center;
			background-size: 2.3rem;

			&.prev {
				left: 3.5rem;
				@include transform(rotate(180deg));
			}
			&.next {
				right: 3.5rem;
			}
		}


	}


	&.sneakers {

		.projects-nav {
			ul {
				li {

					&:before { content: none; }
					
					img {
						top: -15rem;
						-webkit-filter: invert(1);
						filter: invert(1);
						opacity: .2;
						@include transform(rotate(-45deg));
						@include transition(all 1.5s $ease-out-sine);
					}

					&.active {
						img {
							opacity: .5;
							@include transform(scale(2));
						}
					}

					&:hover {
						img {
							opacity: .5;
							@include transform(scale(2));
						}
					}
				}
			}
		}

		.projects-gallery {
			img {
				-webkit-filter: invert(1);
				filter: invert(1);
			}
		}
	}
}

