main.work {
	min-height: calc(100vh - 5rem);
    padding: 2rem;
    margin: 0;

	> section {
		position: relative;
	    background: rgba(0,0,0,0.8);
	    color: white;
	    font-size: 2.1rem;
	    text-align: center;
	    overflow: hidden;
	    
	    width: calc(50vw - 4rem);
	    height: auto;
	    float: left;
		
		margin-left: 1rem;
		margin-bottom: 2rem;

		&:nth-child(2n) {
			margin-left: 2rem;
		}

	    &:before {
		    content: "";
			display: block;
			padding-top: 50%;
		    float: left;
		}

		.vertical-center {
			position: absolute;
			width: 100%;
			text-align: center;
		}

		h2 {
			margin-top: 0;
			line-height: 1;
	    	letter-spacing: .2rem;
	    	text-transform: capitalize;
		}
		
		img {
			position: relative;
			z-index: -1;
		}

		@include transition(background 1.5s $ease-in-out-sine);
		&:hover {
			background:rgba(0,0,0,0.4);
		}
	}


}
main.work-details {
	min-height: calc(100vh - 5rem);
	max-height: calc(100vh - 5rem);
	#work-gallery {
		// width: 80%;
		// margin: 0 auto;

		ul.slick-dots {
			// margin-left: -10%;
			width: 100%;
		}
		.arrow.next {
			// right: -9%;
			top: calc(50% - 6rem);
			right: 5%;
		}
		.arrow.prev {
			// left: -9%;
			top: calc(50% - 6rem);
			left: 5%;
		}
		// height: 100%;
		// min-height: calc(100vh - 5rem);
		// max-height: calc(100vh - 5rem);
	}

	.close-gallery {
		position: fixed;
		bottom: 0rem;right: 5rem;
		color: white;
		z-index: 9999;
		font-size: 1.7rem;
		line-height: 5rem;
		height: 5rem;
	}
}