body {
  @include size(100%);
  position: relative;
}
main {
  @include size(100%);
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 5;

  background-color: #323232;

  @include media($desktop) {
    top: $headerH;
  }

  // > section {
  //   min-height: 50vh;
  //   border-bottom: 1px solid darken(#323232, 10);
  //   .container {
  //     height: 50vh;
  //     overflow: auto;
  //     .vertical-center { }

  //     h2 {
  //       margin-top: 0;
  //       text-transform: uppercase;
  //       font-size: 9rem;
  //       line-height: 1;
  //     }
  //     a {
  //       // float: right;
  //       font-size: 3.2rem;
  //       font-family: $book;

  //       display: block;
  //       padding: 0 3rem 0 1rem;
  //       margin-top: 5rem;
  //     }
  //   }

  // }
}
// main.home {
//   a {
//     float: right;
//   }
// }

// .btn {
//   display: inline-block;
//   position: relative;
//   padding: 1.7rem 3rem;

//   font-size: 1.4rem;
//   text-align: center;
//   text-decoration: none;

//   // background-color: $grey;
//   // color: $dark;

//   &.cta {
//     text-align: left;
//     padding-right: 5rem;
//     &:after {
//       position: absolute;
//       right: 3rem;
//       content: "\2192";
//       opacity: 0;

//       @include transition(all 0.25s ease-out);
//     }
//     &:hover {
//       &:after {
//         opacity: 1;
//         right: 2rem;
//       }
//     }
//   }

//   &.golden {
//     color: white !important;
//     // background-color: $golden !important;
//   }

// }
