$position: fixed;

header {
  padding-top: 4rem;
  position: $position;
  z-index: 99;
  width: 100%;
  top:0;

  a.logo {
    display: inline-block;
    float: left;

    color: white;
    @include font(1.8, 1.4);
    font-family: $title-font;
    font-style: italic;
    text-decoration: none;
  }

  nav {
    display: inline-block;
    float: right;
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        margin-right: 4rem;

        a {
          display: block;

          @include font(1.4, 1.4);
          color:white;
          text-decoration: none;
        }
      }
    }
  }
}
footer {
  @include clearfix;
  height: 7rem;
  div {
    height: 7rem;
    > p {
      @include font(1.3, 7);
      font-family: $title-font;
      color: $dark;

      margin-top: 0;
      margin-bottom: 0;
    }
    ul {
      list-style: none;
      float: right;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 2rem;
        a {
          display: inline-block;
          line-height: 7rem;
          img {
            @include size(1.4rem);
            vertical-align: middle;
          }
        }
      }
    }
  }
}
