$headerH: 5rem;

header {
  width: 100%;
  position: relative;
  z-index: 9;
  &.home {
    z-index: 10;
  }
  @include media($desktop) {
    position: fixed;
  }
  .container {
    position: relative;
  }

  h1, h2 {
    text-transform: uppercase;
    line-height: 1;
  }
  p {
    font-size: 1.3rem;
    margin-bottom: 5rem;
    font-family: $title-font;
  }

  h1 a, h2 a {
    text-decoration: none;
  }

  // &.home-header {
  //   display: none;
  // }
  &.home-header + &.home {
    display: none;
  }
  height: $headerH;
  background:white;
  .logo {
    margin: 0;
    @include size(9rem $headerH);
    background:url(../images/logo-qv.svg) no-repeat 2rem center;
    background-size: $headerH;
    text-indent: -9999px;
    a {display: block;@include size(100%);}
  }
  display: flex;

  nav {
    padding: 0 2rem;
    width: calc(100% - 9rem);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    a {
      font-size: 1.6rem;
      color: black;
      line-height: 4.25rem;
      text-transform: uppercase;

      padding: .5rem 1.5rem;
      text-decoration: none;
      text-align: center;
      &:hover {
        color: black;
      }

      &.active {
        background:darken(white, 10%);
      }
    }
  }
}
