/**
 * Base styles
 */
html {
    font-family: $base-font;
    font-size: 62.5%;
    @include media($isMobile) {
      font-size: 40%;
    }
}

body {
  position: relative;
}
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
}
.isMobile {
  display: none;
  visibility: hidden;

  @include media($isMobile) {
    visibility: visible;
    display: block;
  }
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
@include selection {
    background: #000;
    text-shadow: none;
    color: white;
}

.no-bullet,
%no-bullet {
    list-style: none;
}

ul {
    &.no-bullet {
        @extend %no-bullet;
    }
}

/* Misc ---------------------- */
.hide,
%hide {
    display: none;
}

// When we want the last column to fill in the remainder of the row
.fill-remainder,
%fill-remainder {
    float: none;
    overflow: hidden;
}

.vertical-center,
%vertical-center {
  position: relative; top: 50%;
  @include transform(translateY(-50%));
}

.clearfix,
%clearfix {
  @include clearfix;
}

.hide-mobile,
%hide-mobile {
  @include media($mobile) {
    display: none;
  }
}
.hide-desktop,
%hide-desktop {
  @include media($desktop) {
    display: none;
  }
}
