@font-face {
    font-family: 'GothamBold';
    src: url('fonts/GothamBold.eot');
    src: url('fonts/GothamBold.eot') format('embedded-opentype'),
         url('fonts/GothamBold.woff2') format('woff2'),
         url('fonts/GothamBold.woff') format('woff'),
         url('fonts/GothamBold.ttf') format('truetype'),
         url('fonts/GothamBold.svg#GothamBold') format('svg');
}
// @font-face {
//   font-family: 'GothamLight';
//   src: url('../assets/fonts/GothamLight.eot');
//   src: url('../assets/fonts/GothamLight.eot') format('embedded-opentype'),
//   url('../assets/fonts/GothamLight.woff2') format('woff2'),
//   url('../assets/fonts/GothamLight.woff') format('woff'),
//   url('../assets/fonts/GothamLight.ttf') format('truetype'),
//   url('../assets/fonts/GothamLight.svg#GothamLight') format('svg');
// }
//
@font-face {
  font-family: 'GothamBook';
  src: url('../assets/fonts/GothamBook.eot');
  src: url('../assets/fonts/GothamBook.eot') format('embedded-opentype'),
  url('../assets/fonts/GothamBook.woff2') format('woff2'),
  url('../assets/fonts/GothamBook.woff') format('woff'),
  url('../assets/fonts/GothamBook.ttf') format('truetype'),
  url('../assets/fonts/GothamBook.svg#GothamBook') format('svg');
}

// @font-face {
//   font-family: 'GothamMedium';
//   src: url('../assets/fonts/GothamMedium.eot');
//   src: url('../assets/fonts/GothamMedium.eot') format('embedded-opentype'),
//   url('../assets/fonts/GothamMedium.woff2') format('woff2'),
//   url('../assets/fonts/GothamMedium.woff') format('woff'),
//   url('../assets/fonts/GothamMedium.ttf') format('truetype'),
//   url('../assets/fonts/GothamMedium.svg#GothamMedium') format('svg');
// }
//
// @font-face {
//   font-family: 'GothamBold';
//   src: url('../assets/fonts/GothamBold.eot');
//   src: url('../assets/fonts/GothamBold.eot') format('embedded-opentype'),
//   url('../assets/fonts/GothamBold.woff2') format('woff2'),
//   url('../assets/fonts/GothamBold.woff') format('woff'),
//   url('../assets/fonts/GothamBold.ttf') format('truetype'),
//   url('../assets/fonts/GothamBold.svg#GothamBold') format('svg');
// }
