
@mixin overlay($color) {
    &:before {
      content: " ";
      @include size(100%);
      position: absolute;
      top: 0;left: 0;right: 0;bottom: 0;
      z-index: 2;
      background:$color;
      @include transition(all 0.25s $ease-out-sine);
    }
}


@mixin center($value) {
  @if $value == 'vertical' {
    position: relative; top: 50%;
    @include transform(translateY(-50%));
  }
  @else if $value == 'horizontal' {
    position: relative; left: 50%;
    @include transform(translateX(-50%));
  }
}