/**
 * Base styles 		~	 	Grid options
 */
$gutter: 0.3em;
$border-box-sizing: true;
$grid-columns: 12 !default;
// $max-width: 77.2%;
$max-width: 76.3%;
$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

/**
 * Base styles 		~	 	Media Query options
 */
$isMobile: new-breakpoint(max-width 1000px);
$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 480px);
$medium: new-breakpoint(min-width 480px max-width 1200px);
$large: new-breakpoint(min-width 1200px);

/**
 * Base styles 		~	 	Colours
 */
$link-color: #293443;
$hover-color: lighten($link-color, 10);
$heading-color: #C1C1C1;
$grey: #cacaca;
$hr-color: #fff;

/**
 * Base styles 		~	 	Type
 */
$base-font: 'Lato', helvetica, sans-serif;
$title-font: 'Lato', garamond, serif;
